body {
    background-color: rgb(156, 118, 118);
  
    z-index: -1;
    background-size: 100%;
    
}

.header {
    background-color: brown;
    color: azure;
    width: 25%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#gameRules {
    background-color: tan;
    color: green;
    width: 40%;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 40px;
} 

.targetDiv {
    background-color: lawngreen;
    margin-top: 10px;
    height: 80px;
    width: 200px;
    float: left;
}
#winsLosses {
    background-color: aqua;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 20px;
    height: 60px;
    width: 80px;
    float: left;
}

.crystals {
    height: 80px;
    width: 280px;
}

#blueCrytsal {
   
    
    float: right;
}
#pinkCrystal {
   
    
    float: left;
}
#purpleCrystal {
   
    clear: left;
    float: left;
}
#yellowCrytsal {
   
    clear: left;
    float: left;
}
#scoreText {
    clear: both;
    background-color: blue;
    height: 30px;
    width: 210px;
}
#totalScore {
    background-color: blue;
    margin-top: 10px;
    height: 100px;
    width: 210px;
}