body {
    background-image: url("assets/images/wormz.png");
    z-index: -1;
    height: 100%;
    width: 100%;
}

.header {
    background-color: brown;
    color: azure;
    width: 25%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#gameRules {
    background-color: tan;
    color: green;
    width: 40%;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 40px;
} 

#randomNumber {
    background-color: lawngreen;
    margin-top: 10px;
    height: 80px;
    width: 200px;
    float: left;
}
#winsLosses {
    background-color: aqua;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 20px;
    height: 60px;
    width: 80px;
    float: left;
}


#blueCrytsal {
   
    
    float: left;
}
#pinkCrystal {
   
    clear: right;
    float: left;
}
#purpleCrystal {
   
    clear: right;
    float: left;
}
#yellowCrytsal {
   
    clear: right;
    float: left;
}
#scoreText {
    clear: both;
    background-color: blue;
    height: 30px;
    width: 210px;
}
#totalScore {
    background-color: blue;
    margin-top: 10px;
    height: 100px;
    width: 210px;
}